            <fieldset>

             <table>
                <tr>
                    <th><label for='newPasswordd'>Password: </label></th>
                    <td><input type='password' class='text_ password' name='newPassword' id='newPassword' /></td>
                </tr>
                <tr>
                    <th><label for='confirmPassword'>Confirm&nbsp;Password:&nbsp;&nbsp; </label></th>
                    <td><input type='password' class='text_ password' name='confirmPassword' id='confirmPassword' /></td><!-- class error for wrong filled inputs -->
                </tr>
              </table>
            </fieldset>
