
#header #logo {
    float: left;
    height: 80px;
    margin-top: 0px;
    position: relative;
    width: 391px;
}

#header #logo a.home {
    border: 0 none;
    color: #FFFFFF;
    display: inline;
    font-size: 180%;
    font-style: italic;
    font-weight: bold;
    height: 100%;
    overflow: hidden;
    text-shadow: 1px 1px 0 #000000;
    width: 100%;
}