@page {
	size: 8.5in 11in; /* width height */
	margin: 0.25in;
}

table {
	border-bottom: 1px solid #D7D7D7;
	border-collapse: collapse;
	border-spacing: 0;
	clear: both;
	margin-top: 1em;
	width: 100%;
}

table thead {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #F7F7F0 none repeat scroll 0 0;
}

table tfoot {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #F7F7F0 none repeat scroll 0 0;
}

table thead th {
	border-color: #D7D7D7 #D7D7D7 #999999;
	border-style: solid;
	border-width: 1px;
	font-size: 10px;
	font-weight: bold;
	padding: 1px 0.5em;
	vertical-align: bottom;
}

table tfoot th {
	border-color: #D7D7D7 #D7D7D7 #999999;
	border-style: solid;
	border-width: 1px;
	font-size: 10px;
	font-weight: bold;
	padding: 1px 0.5em;
	vertical-align: bottom;
	font-weight: bold;
	padding: 1px 0.5em;
}

table tbody tr td {
	border-color: #D7D7D7 #D7D7D7 #999999;
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
	padding: 2px 0.5em;
	vertical-align: bottom;
}