<html>
<body>
	<g:form action="send" method="post" enctype="multipart/form-data">
		Email address: <input name="email"/><br/>
		User Name: <input name="user_name"/><br/>
		Attachments: <br/>
		<input name="attachment" type="file"/><br/>
		<input name="attachment1" type="file"/><br/>
		<input type="submit"/>
	</g:form>
</body>
</html>