<g:if test="${value != null}">
  <g:if test="${cp?.password  == true}">
    ****************
  </g:if>
  <g:else>
    ${fieldValue(bean: bean, field: field.name)}
  </g:else>
</g:if>
<g:else>
<i>no value</i>
</g:else>

