<g:if test="${value != null}">
  <g:if test="${cp?.password  == true}">
    ****************
  </g:if>
  <g:else>
    <theme:renderHTML value="${value}"/>
  </g:else>
</g:if>
<g:else>
<i>no value</i>
</g:else>

