
        <td class="first">${client.lastName}</td>
        <td>${client.firstName}</td>
        <td>${client.dateOfBirth}</td>
        <td>${client.age}</td>
        <td>${client.grade}</td>
        <td>${client.dateOfAdmission}</td>
        <td>${client.managingConservator}</td>
        <td class="last">${client.levelOfCare}</td>
