#header {height: 90px;}
#header .inner-container {padding: 8px 0 0 0;}
#nav .inner-container { padding: 18px 0 17px 0;}
#nav #h-wrap {top: 9px;}

    #nav .sub-h-wrap {position: absolute; top: 22px; left: 640px;} /* Set your width for section switcher (only in IE 7 and older, modern browsers will set optimal width automatically) */

        #nav .sub-h-wrap.active {border: 4px solid rgba(200, 200, 200, 0.5); top: 20px; left: 630px;}
        #nav .sub-h-wrap.active {-moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px;}
        #nav .sub-h-wrap.active .inner {border: 1px solid #999; background: #fff; padding: 0px 0 10px 17px;}
        #nav .sub-h-wrap.active .inner {-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}

        /* feel free to add more icons here like above (icon set is included in directory "./img/h-ico" and is free for commercial use) */
        #nav .sub-h-wrap h2 { position: relative; float: left; height: 31px; line-height: 35px; vertical-align: middle; font-size: 100%; font-weight: normal; color: #454545;}
        #nav .sub-h-wrap.active h2 {background: none;}
        #nav .sub-h-wrap h2 .h-ico {display: block; height: 100%; padding-right: 42px;}
        #nav .sub-h-wrap h2 .h-arrow {background: url("img/black/h-arrow.gif") 0 0 no-repeat; position: absolute; top: 18px; right: 19px; display: block; width: 11px; height: 15px; overflow: hidden;}
        
        #nav .sub-h-wrap ul {display: none; clear: both;}
        #nav .sub-h-wrap ul li {display: inline;}
        #nav .sub-h-wrap ul a {border: 0; display: block; height: 30px; width: 100%; overflow: hidden; line-height: 35px; vertical-align: middle; font-size: 100%;}
        #nav .sub-h-wrap ul a:hover,
        #nav .sub-h-wrap ul a:focus,
        #nav .sub-h-wrap ul a:active {color: #000;}


    #nav #title-h-wrap {position: absolute; top: 1px; left: 0; =width: 220px;} /* Set your width for section switcher (only in IE 7 and older, modern browsers will set optimal width automatically) */
        
        #nav #title-h-wrap .h-ico {background: 0 50% no-repeat;}
        #nav #title-h-wrap .h-ico span {display: block; padding-left: 50px;}
        #nav #title-h-wrap .ico-dashboard {background-image: url("img/h-ico/dashboard.png");} /* feel free to add/modify your own icons - icons are located in "css/img/h-ico/*" */
        #nav #h-wrap .ico-comments {background-image: url("img/h-ico/comments.png");}
        #nav #h-wrap .ico-color {background-image: url("img/h-ico/color.png");}
        #nav #h-wrap .ico-edit {background-image: url("img/h-ico/edit.png");}
        #nav #h-wrap .ico-media {background-image: url("img/h-ico/media.png");}
        #nav #h-wrap .ico-syndication {background-image: url("img/h-ico/syndication.png");}
        #nav #h-wrap .ico-cash {background-image: url("img/h-ico/cash.png");}
        #nav #h-wrap .ico-users {background-image: url("img/h-ico/users.png");}
        #nav #h-wrap .ico-advanced {background-image: url("img/h-ico/advanced.png");}
        #nav #h-wrap .ico-send {background-image: url("img/h-ico/send.png");}
        /* feel free to add more icons here like above (icon set is included in directory "./img/h-ico" and is free for commercial use) */
        #nav #title-h-wrap h2 { position: relative; float: left; height: 51px; line-height: 55px; vertical-align: middle; font-size: 150%; font-weight: bold;}
        #nav #title-h-wrap.active h2 {background: none;}
        #nav #title-h-wrap h2 .h-ico {display: block; height: 100%; padding-right: 42px;}

    #nav form.big-search {background: url("img/big-search-input.png") no-repeat; float: right; width: 427px; height: 38px; padding: 0; overflow: hidden; font-family: inherit;}
        #nav form.big-search input.text {outline: 0; border: 0; background: transparent; width: 374px; height: 38px; vertical-align: middle; margin: 1px 0 1px 1px; padding: 8px 8px; overflow: hidden; font-size: 100%; color: #555;}

#container .inner-container { padding: 10px 0;}
	.box .content table td {padding: 8px 8px 6px 8px;}



	.pagination {border-top: 1px solid #99; background: #fff url("img/pagination.gif") repeat-x; text-align: center; color: #333 !important;}
	.pagination ul {position: relative; top: -1px; padding: 12px 7px 4px;}
	.pagination a {
	    display: inline;
		border: 0; background: #ebebeb url("img/pagination-item.gif") repeat-x; margin: 0 4px; padding: 4px 7px; color: #333 !important;
		border-radius: 3px;
	   -moz-border-radius: 3px;
	   -webkit-border-radius: 5px;
	}
	.pagination a:hover,
	.pagination a:active,
	.pagination a:focus {color: #b10d0d !important;}
	.pagination .currentStep {background: url("img/pagination-arrow.gif") 50% 0 no-repeat; padding: 15px 10px 8px;}


.ui-button-text-only .ui-button-text {
padding:0em 0em;
}
 dl.compact { border: 0px double #ccc; width: 100%; overflow: hidden; } 
 dl.compact dt { float: left; clear: left; width: 40%; text-align: left; font-weight: bold;  } 
 dl.compact dd { float: left; width: 60%; padding: 0 0 0.2em 0; }


table.compact {
	border-bottom:1px solid #D7D7D7;
	border-collapse:collapse;
	border-spacing:0;
	clear:both;
	margin-top:1em;
	width:100%;
}
table.compact th {
font-size:12px;
padding:0 1em 0.1em 0;
text-align:left;
}
table.compact thead {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F7F7F0 none repeat scroll 0 0;
}
table.compact thead th {
border-color:#D7D7D7 #D7D7D7 #999999;
border-style:solid;
border-width:1px;
font-size:11px;
font-weight:bold;
padding:2px 0.5em;
vertical-align:bottom;
}
table.compact thead th :link:hover, table.compact thead th :visited:hover {
background-color:transparent;
}
table.compact thead th a {
border:medium none;
padding-right:12px;
}
table.compact th.asc a, table.compact th.desc a {
font-weight:bold;
}
table.compact th.asc a, table.compact th.desc a {
background-position:100% 50%;
background-repeat:no-repeat;
}
table.compact th.asc a {
background-image:url(../asc.png);
}
table.compact th.desc a {
background-image:url(../desc.png);
}
table.compact tbody td, table.compact tbody th {
border:1px dotted #DDDDDD;
padding:0.3em 0.5em;
vertical-align:top;
}
table.compact tbody td a:hover, table.compact tbody th a:hover {
background-color:transparent;
}
table.compact tbody tr {
border-top:1px solid #DDDDDD;
}
table.compact tbody tr.even {
background-color:#FCFCFC;
}
table.compact tbody tr.odd {
background-color:#F7F7F7;
}
table.compact tbody tr:hover {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:#EEEEDD none repeat scroll 0 0 !important;
}
table.compact tbody tr.focus {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:#DDDDFF none repeat scroll 0 0 !important;
}

/* profile image size */
img.profileImage {
  width: 6em;
  height: 6em;
}

img.profileImage_small { width: 4em; height: 4em; }

img.profileImage_tiny { width: 2em; height: 2em; }

.box .header h6 {position: relative; top: 2px; display: inline; font-size: 100%; color: #fff; text-shadow: #151515 0 1px 0;}


    .pagination ul li.bottomRightLink {display: inline; float: right;}

.header .right {
    float: right;
    align: right;
    margin-right: 15px;
}

.path {
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
}

div.print-button {
    float: right;
    width: 100%;
    align: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
a.print-button {
    float: right;
}