@CHARSET "ISO-8859-1";
.filterPane {
	position: absolute;
	width:50%;
        left: 50%;
	margin-left: -25%;
	top: 50px;
	border: 2px solid #666666;
	background-color: white;
	padding: 5px;
        z-index: 1;
}

.filterTable {
	width: 100%;
}

a.remove img {
    border:none;
}